# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=Prince~o8YB2STZ#4xuBU1vzfcp1cAHiLr8D-B_P-dkhaTDQuNuL38pq4B0
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=923092668108;PRINCE
antidelete=true
BOT_NAME=Prince
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
